/.metadata/
sprint_3/it.unibo.ParkManagerService_s3/.gradle/buildOutputCleanup/buildOutputCleanup.lock
sprint_3/it.unibo.ParkManagerService_s3/.classpath
sprint_3/it.unibo.ParkManagerService_s3/.gradle/buildOutputCleanup/cache.properties
sprint_3/it.unibo.ParkManagerService_s3/.settings/org.eclipse.jdt.core.prefs
sprint_3/it.unibo.ParkManagerService_s3/.classpath
sprint_3/it.unibo.ParkManagerService_s3/.settings/org.eclipse.jdt.core.prefs
